@import url(reset.scss);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  line-height: 1.3;
}

.header {
  background-color: #ffffff;
  height: 60px;
  border-bottom: solid 1px lightgrey;
}

.header .header__nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__logo {
  height: 25px;
  margin-left: 10px;
}

.header .header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.header .header__nav ul li {
  list-style-type: none;
}

.header .header__nav ul li svg {
  height: 35px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 90vh;
  height: 0px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  overflow: hidden;
}

.header__menu nav {
  height: 70vh;
  width: 70vw;
}

.header__menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.header__menu nav li {
  list-style-type: none;
  font-size: 30px;
}

.menu_open {
  height: 90vh;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.section_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 80px;
}

.section_1 div {
  margin-top: 40px;
}

.section_1 div figure {
  margin-bottom: 30px;
}

.section_1 div figure img {
  width: 90vw;
}

.section_1 div figure figcaption {
  margin-top: 17px;
}

.section_1 div figure figcaption p:first-child {
  font-size: 16px;
  margin-bottom: 5px;
}

.section_1 div figure figcaption p:last-child {
  font-size: 35px;
  font-weight: 800;
}

.section_1 div a {
  padding: 10px 20px;
  background-color: #1b1b1b;
  border-radius: 20px;
  color: #ffffff;
  text-decoration: none;
}

.section_2 {
  margin: 40px 0 30px 0;
}

.section_2 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section_2 > div h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 15px;
}

.section_2 .grille {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.section_2 .grille a {
  text-decoration: none;
}

.section_2 .grille figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 170px;
  margin-bottom: 10px;
}

.section_2 .grille figure img {
  width: 170px;
}

.section_2 .grille figure figcaption {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 3px;
  font-size: 14px;
  color: black;
}

.section_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 70px;
}

.section_3 h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 15px 20px;
}

.section_3 a {
  width: 90%;
}

.section_3 a figure {
  text-align: center;
  position: relative;
  margin: 5px 0;
}

.section_3 a figure img {
  width: 100%;
}

.section_3 a figure figcaption {
  position: absolute;
  top: 50%;
  left: 40%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.section_4 {
  margin: 40px 0 30px 0;
}

.section_4 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section_4 > div h2,
.section_4 > div h3 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 15px;
}

.section_4 > div h3 {
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}

.section_4 .grille {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.section_4 .grille a {
  text-decoration: none;
}

.section_4 .grille figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 170px;
  margin-bottom: 10px;
}

.section_4 .grille figure img {
  width: 170px;
}

.section_4 .grille figure figcaption {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 3px;
  font-size: 14px;
  color: black;
}

.section_5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.section_5 > div {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section_5 > div figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section_5 > div figure img {
  width: 90vw;
}

.section_5 > div figure figcaption {
  width: 90%;
  margin-top: 17px;
  font-size: 16px;
}

.section_5 > div div {
  margin-top: 30px;
  width: 90%;
}

.section_5 > div div a {
  padding: 10px 20px;
  background-color: #1b1b1b;
  border-radius: 20px;
  color: #ffffff;
  text-decoration: none;
}

.section_5 > div div a:first-child {
  margin-right: 5px;
}

.section_6 {
  height: 600px;
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_6 svg {
  height: 50px;
}

.section_6 > div {
  height: 100%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section_6 > div div {
  text-align: center;
}

.section_6 > div div h3 {
  margin-bottom: 5px;
}

.section_6 > div div li {
  color: white;
  list-style-type: none;
  margin: 2px 0;
}

.section_6 > div div li p {
  font-size: 15px;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */